.day-1-strand-img {
    width: 100px;
    animation: drop 5s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
    0%{opacity: 0}
    70%{transform: translateY(700px)}
    100%{transform: translateY(700px)}
  }